<div class="main-content">
	<h1>Welcome!</h1>

	<p>The purpose of this app is to display my ability to use object relational mapping through the use of SQL and Ruby on Rails. Movies and actors are related to each other. You can also add new movies or actors and have them automatically become related to each other as well. The purpose of this app is not to look beautiful; it is purely meant to showcase my programming abilities with Ruby and SQL. Click a link above to get started.</p>
</div>